body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  padding: 40px;
  text-align: center;
  display: flex;
  justify-content: end;
}

header img {
  width: 200px;
  /* Adjust the size of the logo as needed */
}

.user-actions a {
  text-decoration: none;
  color: #000; /* Set black font color */
  font-weight: bold;
  transition: color 0.3s; /* Add smooth color transition on hover */
  display: inline-block;
  padding: 10px 15px;
  background-color: #fff; /* Set white background color */
  border-radius: 5px; /* Add rounded corners */
}

.user-actions a:hover {
  color: #ff5733; /* Change color on hover (you can adjust the color as needed) */
}

.main-content {
  text-align: center;
  padding: 50px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the container takes up the full height of the viewport */
}

#textarea_story {
  width: 99%;
}

#scenarios {
  text-align: left;
  margin-top: 30px;
}

#generatedText {
  overflow: auto;
  /* or overflow: visible; */
  /* word-wrap: break-word; */
}

#userTable {
  width: 100%;
  margin-top: 300px;
  border-collapse: collapse;
}

#endpointTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 300px;
}

#button_info {
  position: relative;
  top: 300px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  z-index: 1; /* Ensure it's above other elements */
}

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  header {
    padding: 10px;
    height: 150px;
    width: 90%;
  }

  header img {
    width: 120px;
  }

  #button_info {
    position: relative;
    top: 0px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    z-index: 1; /* Ensure it's above other elements */
  }

  .user-actions {
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* margin-top: 10px; */
  }

  .user-actions a {
    display: block;
    margin-top: 10px;
  }

  .main-content {
    text-align: center;
    padding: 10px;
  }

  .content-container {
    min-height: 80vh;
  }

  #scenarios {
    margin-top: 10px;
  }

  #generatedText {
    overflow: auto;
  }

  #userTable,
  #endpointTable {
    width: 100%;
    margin: auto;
  }

  th,
  td {
    padding: 8px;
  }
  #userTable th:nth-child(1),
  #userTable td:nth-child(1),
  #userTable th:nth-child(3),
  #userTable td:nth-child(3),
  #endpointTable th:nth-child(1),
  #endpointTable td:nth-child(1) {
    display: none; /* Hide the ID column */
  }
}
